/*навигация*/
header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.site-nav .link {
  color: var(--text--color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link {
  position: relative;

  transition: color 250ms var(--time--animation);
}
.site-nav .link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  bottom: -32px;
  background-color: var(--accent--color);
  width: 0%;
  /* transition: width 1000ms var(--time--animation); */
}
.site-nav .link.current::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  bottom: -32px;
  background-color: var(--accent--color);
  width: 100%;
  /* transition: width 100000ms var(--time--animation); */
}
.site-nav {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;

  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-nav-link:not(:last-child) {
  margin-right: 50px;
}

.link-icon {
  display: flex;
  align-items: center;
}
.header-nav-link {
  transition: color 250ms var(--time--animation),
    fill 250ms var(--time--animation);
}
.header-nav-link:focus,
.header-nav-link:hover {
  color: var(--accent--color);
  fill: var(--accent--color);
}
.header-nav-link:focus .header-icon,
.header-nav-link:hover .header-icon {
  fill: var(--accent--color);
}

.header-contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.site-nav .link {
  transition: color 250ms var(--time--animation);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent--color);
}
.site-nav .link.current {
  color: var(--accent--color);
}
.logo {
  color: var(--text--color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  margin-right: 93px;
}
.logo span {
  color: var(--accent--color);
}

.header-contact a {
  color: var(--primary--text--color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--time--animation);
}

.header-contact a:hover,
.header-contact a:focus {
  color: var(--accent--color);
}
.footer-contacts .link {
  text-decoration: none;
}
